@charset "utf-8";
* {
	  margin: 0px;
}
#wrapper {
	  width: 1150px;
	  margin-right: auto;
	  margin-left: auto;
	  left: auto;
	  right: auto;
	  border-right-width: 1px;
	  border-left-width: 1px;
	  border-left-style: solid;
}
#wrapper #logo {
	  height: 283px;
}
a img {
	  border-top-style: none;
	  border-right-style: none;
	  border-bottom-style: none;
	  border-left-style: none;
}
.m {
	  text-align: center;
}
.m li img {
	  text-align: right;
}
