{% extends 'header.html' %}
{% block content %}

<form method="post" id="subscribe" role="form" class="form-inline" >
		<div class="col-xs-4">
			  <div class="well">
			      <input type="email" class="form-control" name="email" id="email" placeholder="Newsletter mail"/>
			      <!--<input type="submit" />-->
			      <button type="submit" class="btn btn-default">Prijava</button>
			  </div>
		</div>
</form>
<p>
<img src="images/cover.JPG" width="1140" height="570" alt="sve" />
<p>&nbsp;</p>

{% endblock %}
